body{
    background-color:lavender; 

}

.container{
    background-color: lavender);

}

.btn{
    background-color: #482a70;
}

.lead{

}

.jumbotron{
    background-color: white;
    width: 50%;
    align-content: center;
    margin: 0 auto;
}